<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Artigos</title>
    <!-- <link rel="stylesheet" href="/../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand text-light" href="#">Home</a>
                <a href="#" class="btn btn-primary text-light ml-auto">Logar</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5" id="principais">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <img src="imagem-artigo.jpg" class="card-img-top" alt="Imagem do Artigo">
                    <div class="card-body">
                        <h2 class="card-title">Título do Artigo</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum bibendum nisl, in posuere elit tincidunt sed.</p>
                        <span class="badge text-bg-danger ml-auto" id="likes">
                            <i class="bi bi-heart"></i>Curtidas
                        </span>
                        <a href="#" class="btn btn-outline-primary btn-sm">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            &copy; 2023 Meu Site
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>